---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
      {{ page.date | date_to_string }}
      <div style="float: right">
          <small>{{page.tags | join: ', ' }}</small>
      </div>
  </span>
  {{ content }}
</div>

<div class="related">
  <h4>Related Posts</h4>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
          <a href="{{ post.url }}">
              <small> {{ post.date | date_to_string }}</small>
              {{ post.title }}
          </a>
          <small class="abbr">
              {% for category in post.categories %}
              {{ tag }}
          {% endfor %}
          </small>
      </li>
    {% endfor %}
  </ul>
</div>
<script type="text/javascript">
 (function createHeadingAnchors() {
   var headings = document.querySelectorAll('.post h2, .post h3, .post h4, .post h5');
   for (heading of headings) {
     if (heading.id && heading.id.startsWith("footnote")) {
       // do nothing because we do not want to highlight footnotes
     } else {
       var span = document.createElement('span')
       span.innerHTML = '<a class="heading-anchor" href="#' + heading.id + '">  ↩︎</a>'
       heading.appendChild(span);
     }
   }
 })()
</script>
